:root {
  --colour-white: #ffff;
  --colour-red: #cc2c2c;
  --colour-dark-green: #398562;
  --colour-green: #64d1a0;
  --colour-light-green: #98e0c0;
  --colour-lighter-green: #d3fdea;
  --colour-grey: #919191;
  --colour-light-grey: #9c9c9c;
  --colour-lighter-grey: #d6d6d66c;
  --colour-dark-grey: #282828;

  --border-radius: 6px;
}

*,
*::before,
*::after,
*::placeholder {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: inherit;
}

input:-webkit-autofill {
  -webkit-background-clip: text;
}

body {
  font-family: 'Segoe UI', sans-serif;
  color: var(--colour-dark-grey);
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h4,
h5,
h6 {
  font-size: 0.8rem;
  color: var(--colour-light-grey);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}

.warning {
  color: var(--colour-red);
}

@media (min-width: 769px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
    color: var(--colour-light-grey);
  }
}
